body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1db954;
  color: white;
  padding: 10px;
  text-align: center;
}

.container {
  margin: 20px auto;
  width: 80%;
}

.receipt {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
